/* head style   */
 *{
    margin:10px;
    padding:0;
    font-family: sans-serif;
}
.heading{
    text-align: right;
    font size:65px;
    margin-left:200px;
    padding-bottom:30px;
    font-weight:700;
}
.description{
    color:;
    text-align: right;
    padding-left:100px;
    font-weight: 400;
}
button{
    color: white;
    text-align: right;
    background-color: orangered;
    padding:10px 15px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}
.headd{
    text-align: right;
    padding:10% 5% 10% 845px;
}

header{
    background-image: url("../images/banner/banner2.png");
    background-size: cover;
    background-position: bottom;


}
/* main section design */
main{
    margin:100px 200px;
}
.sec1{
    display: flex;
    margin-top:200px;
    gap: 80px;
    margin-bottom: 150px;
}
.picc{
    height: 650px;
    width: 500px;
}
.main-head{
    font-size:40px ;
    padding: right 200px;
    font-weight: 700;
}
.main-description{
    padding: 180px 80px 100px 70px;
}
.main-para{
    color: rgb(26, 23, 23);
    font-size: 16px;
    padding: 15px 0px;
    font-weight: 400;
}
.main-description ul li{
    padding-bottom: 10px;
}
.head2{
    text-align: center;
    font-size:40px;
    padding-bottom: 80px;
}
.plan{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.head3{
    font-weight: 700;
}
.head6{
    color: darkgrey;
    font-size: 20px;
    font-weight: 500;
}
.sec2{
    margin-bottom: 100px;
}
.sec3{
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 10px;
}
.nadu{
    padding: 50px 50% 70px 70px;
}
.sec3head{
    color: aliceblue;
    font-size: 30px;
}
.btn{
    color: orangered;
    background-color: white;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
}
/* footer style */
.footer-container{
    color: white;
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: black;
    height: 400px;
    padding: 130px 200px;
    gap:0px;
}
.new{
    color:orangered;
    background-color: white;
    text-align: right;
    border-radius: 5px;
    border: 0;
    padding: 15px;
    margin-top: 20px;
    font-size: 20px;
}
.box{
    padding: 10px;
    border: 2px solid;
    border-color: beige;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.title{
    font-size: 25px;
    padding-bottom: 10px;
}
.para{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    width: 485px;
}
.footer-head{
    width: 80%;
}